
.idea/CoGhentCoaster.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
src/__pycache__/fetcher.cpython-38.pyc
.idea/vcs.xml
tests/__pycache__/pygame.cpython-38.pyc
tests/multiprocessing/__pycache__/empty_timer.cpython-38.pyc
tests/multiprocessing/__pycache__/printer.cpython-38.pyc
src/__pycache__/interface.cpython-38.pyc
